## Operations

In [1]:
import pandas as pd

In [2]:
data = {
    'col1': [1, 2, 3, 4],
    'col2': [111, 222, 333, 111],
    'col3': 'abc-def-ghi-jkl'.split('-')
}

df = pd.DataFrame(data)
df

   col1  col2 col3
0     1   111  abc
1     2   222  def
2     3   333  ghi
3     4   111  jkl

## unique

Retorna os valores únicos de uma coluna (semelhante ao `DISTINCT` do `SQL`)

In [3]:
df['col2'].unique()

array([111, 222, 333])

## nunique

Retorna um número inteiro, que representa quantos valores únicos exitem na coluna

In [4]:
df['col2'].nunique()

3

## value_counts

Conta quantas vezes cada valor aparece na coluna

In [11]:
df['col2'].value_counts()

111    2
222    1
333    1
Name: col2, dtype: int64

## apply

Percorre todos os valores de uma coluna, aplicando uma função, usando esses valores como parâmetro

In [6]:
def power_of_2(x):
    return x ** 2

In [7]:
df[['col1']].apply(power_of_2)

   col1
0     1
1     4
2     9
3    16

In [8]:
df['col3'].apply(len)

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

In [9]:
df[['col2']].apply(lambda x: x * 10)

   col2
0  1110
1  2220
2  3330
3  1110

## sort_values

Ordena o DataFrame

In [10]:
df.sort_values(by='col2')

   col1  col2 col3
0     1   111  abc
3     4   111  jkl
1     2   222  def
2     3   333  ghi