In [1]:
import numpy as np
import pandas as pd

## MultiIndex

Multi-índices são como índices agrupados dentro de outro índice

No exemplo abaixo teremos um _dataframe_ com dois índices, o primeiro e mais externo contendo grupos, e o segundo e mais interno contendo os Ids

In [4]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [14]:
df = pd.DataFrame(np.random.randn(6, 2), hier_index, ['A', 'B'])
df

             A         B
G1 1 -0.146481 -1.766032
   2 -1.380162 -1.032237
   3  0.177023 -0.501530
G2 1 -1.664234 -1.124606
   2  0.598550  0.808348
   3 -0.272336  2.282282

In [15]:
df.index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

Para buscar um registro específico podemos usar o `loc`

No exemplo a seguir, o priemrio `loc` busca o grupo (index mais externo) e o segundo busca pelos Ids (index mais interno)

In [43]:
df.loc['G2'].loc[[1, 2]]

                      A         B
Numeric_Index
1             -1.664234 -1.124606
2              0.598550  0.808348

Por padrão esses index não tem nomes, mas podemos defini-los

In [37]:
df

             A         B
G1 1 -0.146481 -1.766032
   2 -1.380162 -1.032237
   3  0.177023 -0.501530
G2 1 -1.664234 -1.124606
   2  0.598550  0.808348
   3 -0.272336  2.282282

In [51]:
df.index.names = ['Group', 'Id']

In [52]:
df

                 A         B
Group Id
G1    1  -0.146481 -1.766032
      2  -1.380162 -1.032237
      3   0.177023 -0.501530
G2    1  -1.664234 -1.124606
      2   0.598550  0.808348
      3  -0.272336  2.282282

## Cross Section | XS

In [50]:
df.xs(3, level='Numeric_Index')

              A         B
Group
G1     0.177023 -0.501530
G2    -0.272336  2.282282