In [2]:
import numpy as np
import pandas as pd

## Missing Values

MIssing values são de forma simples, campos nulos

In [15]:
d = {
    'A': [1, np.nan, 3],
    'B': [4, 5, 6],
    'C': [7, np.nan, np.nan]
}

df = pd.DataFrame(d)
df

     A  B    C
0  1.0  4  7.0
1  NaN  5  NaN
2  3.0  6  NaN

Podemos eliminar registros que cotenham algum campo sem dado, usando o comando `dropna()`
Para persistir as alterações, precisamos passar o parâmetro `inplace=True`

In [34]:
df.dropna()

     A  B    C
0  1.0  4  7.0

Também é possível definir uma quantidadee mínima de campos preenchidos, para que o registro ou coluna se mantenha no _dataframe_

No exemplo abaixo, vamos manter no _dataframe_

In [28]:
df.dropna(thresh=2, axis=0)

     A  B    C
0  1.0  4  7.0
2  3.0  6  NaN

In [33]:
df

     A  B    C
0  1.0  4  7.0
1  NaN  5  NaN
2  3.0  6  NaN

In [32]:
df.fillna(value=df.mean())

     A  B    C
0  1.0  4  7.0
1  2.0  5  7.0
2  3.0  6  7.0