## GroupBy

O `groupby()` do Pandas, é identico ao do SQL, e proporciona uma forma de usar as Aggregate Functions.

In [1]:
import pandas as pd
import numpy as np

In [25]:
platform = ('PlayStation', 'PlayStation', 'Xbox', 'Xbox', 'PC', 'PC')
ids = (1, 2, 1, 2, 1, 2)
titles = ['God of War', 'The Last of Us', 'Halo', 'Forza', 'Elden Ring', 'FarCry 6']
sales = [5000, 4500, 10, 14, 5000, 3000]

games_sales = list(zip(titles, sales))
indexes = list(zip(platform, ids))

multiindex = pd.MultiIndex.from_tuples(indexes)

In [30]:
games = pd.DataFrame(games_sales, multiindex, ['Game', 'Sales'])
games.index.names = ['Platform', 'Id']
games

                          Game  Sales
Platform    Id
PlayStation 1       God of War   5000
            2   The Last of Us   4500
Xbox        1             Halo     10
            2            Forza     14
PC          1       Elden Ring   5000
            2         FarCry 6   3000

Para usar o `groupby()`, podemos chamar  função a partir do dataframe, e passando por parâmetro qual coluna será o agrupador, da seguinte forma:

In [37]:
platform_sales = games.groupby('Platform')

Após agrupar, é possível usar diversas Aggregate Functions (sum, mean, max, min e etc)

In [38]:
platform_sales.sum()

             Sales
Platform
PC            8000
PlayStation   9500
Xbox            24

In [41]:
platform_sales.mean()

              Sales
Platform
PC           4000.0
PlayStation  4750.0
Xbox           12.0

In [48]:
platform_sales.mean().sort_values('Sales', ascending=False)

              Sales
Platform
PlayStation  4750.0
PC           4000.0
Xbox           12.0